<header>
    <div class="pics">
        <img class="img-fluid" src="@Url.Content("~/images/background/castle.jpg")"
            alt="Urquhart Castle, Loch Ness, Scotland" />
    </div>
    <nav>
        <a href="@Url.Content("~/Index")">About</a>
        <a target="_blank" href="http://JacobArchambault.com/posts">Blog</a>

        <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resume/CV
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <a class="dropdown-item" target="_blank" onclick="handleDocumentLinkClicks(this.href)"
                href="@Url.Content("~/docs/resume-tech.pdf")">Resume</a>
            <a class="dropdown-item" target="_blank" onclick="handleDocumentLinkClicks(this.href)"
                href="@Url.Content("~/docs/curriculum-vitae.pdf")">Curriculum Vitae</a>
        </div>

        <a href="@Url.Content("~/Contact")">Contact</a>
    </nav>
</header>